## [Start] Setting "discount" to default value of "0". **
$util.qr($context.args.input.put("discount", $util.defaultIfNull($ctx.args.input.discount, 0)))
## [End] Setting "discount" to default value of "0". **
## [Start] Setting "currency" to default value of "MXN". **
$util.qr($context.args.input.put("currency", $util.defaultIfNull($ctx.args.input.currency, "MXN")))
## [End] Setting "currency" to default value of "MXN". **
{}