## [Start] Setting "country" to default value of "MX". **
$util.qr($context.args.input.put("country", $util.defaultIfNull($ctx.args.input.country, "MX")))
## [End] Setting "country" to default value of "MX". **
## [Start] Setting "currency" to default value of "MXN". **
$util.qr($context.args.input.put("currency", $util.defaultIfNull($ctx.args.input.currency, "MXN")))
## [End] Setting "currency" to default value of "MXN". **
## [Start] Setting "featured" to default value of "false". **
$util.qr($context.args.input.put("featured", $util.defaultIfNull($ctx.args.input.featured, false)))
## [End] Setting "featured" to default value of "false". **
{}