## [Start] Setting "currency" to default value of "MXN". **
$util.qr($context.args.input.put("currency", $util.defaultIfNull($ctx.args.input.currency, "MXN")))
## [End] Setting "currency" to default value of "MXN". **
## [Start] Setting "waiverSigned" to default value of "false". **
$util.qr($context.args.input.put("waiverSigned", $util.defaultIfNull($ctx.args.input.waiverSigned, false)))
## [End] Setting "waiverSigned" to default value of "false". **
{}